#body h1 {
  color: #fff;
  display: inline;
  font-family: poller_oneregular;
  font-size: 35px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
#body h1 span {
  background: #252525;
  display: inline-block;
  padding: 15px 28px 12px;
}

#contacts {
  display: flex;
  padding-bottom: 30px;
  width: auto;
  justify-content: space-evenly;
}

#contacts > div {
  padding: 0;
  width: 460px;
}

.contacts__info {
  padding: 44px 20px 50px;
  text-align: center;
  width: 960px;
  border: 1px solid black;
}

.contacts__info h4 {
  color: #252525;
  display: inline-block;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 20px 0 3px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contacts__info h3 {
  color: #252525;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts__info p {
  color: #aba9a9;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts__info a:hover {
  color: #0ba39c;
}

#map {
  display: flex;
  justify-content: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(85%);
}

@media (max-width: 525px) {
  .contacts__info p,
  .contacts__info h3,
  .contacts__info h4 {
    font-size: 10px;
  }
}
